version: 2
jobs:
  job2:
    docker:
      - image: debian:stretch
    steps:
      - run:
          name: Print stuff
          command: echo stuff


workflows:
  version: 2
  a-workflow:
    jobs:
      - job1:
          type: approval
      - job2:
          requires: job1
